@font-face {
    font-family: 'Lora';
    src: url(src/static/Lora-Regular.ttf);
}

header {
    height: 147px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 30px;
}

body {
    background-image: url(src/noise.png);
}

.main__quote {
    position: absolute;
    text-align: center;
    margin-top: 247px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #1F1E1E;
}

.upper__logo {
    margin-top: 70px;
    width: 100%;
    height: 325px;
}